* { margin:0; padding:0; }
h1,h2,h3 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}

body {
	background: #fff;
	padding: 3em;
	font-family: "myriad-pro", sans-serif;
	-o-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	font-weight: 100;
}

h1 a {
	display: inline-block;
	color: rgba(0,0,0,.4);
	text-decoration: none;
	padding: 1.2em;
}

h1 a:hover {
	opacity: .75;
}

h1 a:active {
	position: relative;
	top: 1px;
}

ul {
	display: inline-block;
	font-family: "raleway", sans-serif;
	font-size: 3em;
	font-weight: 100;
	text-shadow: 0 0 -1px #fff;
	color: #dfdbd3;
	margin-left: .5em;
}

ul li {
	display: inline;
	font-size: 2em;
	line-height: 1.2em;
}

ul li:after { content:"\A"; white-space:pre; }
ul li:active { position: relative; top: 1px; }
ul:hover li:not(:hover) span { color: #dfdbd3 !important; }

ul li span {
	text-shadow: 0 0 1px #fff;
	color: #c4bfb5;
	-moz-transition: color .15s linear;
	-webkit-transition: color .15s linear;
	transition: color .15s linear;
}

ul li a { 
	display: inline-block;
	text-decoration: none;
}

ul li #new span { color: #86d8d1; }
ul li #life span { color: #c8e68f; }
ul li #land span {color: #f7c78e; }
ul li #travel span {color: #68bdff; }
ul li #love span {color: #e68f8f; }
ul li #flora span {color: #c8a6dc; }
ul li #food span {color: #e6dd8f; }

@media (max-width: 480px) {
	ul {
		font-size: 2.5em;
		margin-left: 0;
	}
}